/DBPractice/packages
/DBPractice/DBPractice/obj
/DBPractice/DBPractice/bin
/DBPractice/PMS.BAL/obj
/DBPractice/PMS.BAL/bin
/DBPractice/PMS.DAL/obj
/DBPractice/PMS.DAL/bin
/DBPractice/PMS.Entities/bin
/DBPractice/PMS.Entities/obj
/DBPractice/WebPrac/obj
/DBPractice/WebPrac/bin
